domain-needed                                                                                
bogus-priv
expand-hosts                                                                                                                                                                   
domain=inahym.tk
local=/inahym.tk/
no-hosts
addn-hosts=/etc/hosts-dnsmasq
no-resolv
server=1.1.1.1
log-queries
