{% for config in configs.onevalue %}
{{ config }}
{% endfor %}
{% for config in configs.twovalue %}
{{ config.key }}={{ config.value }}
{% endfor %}

{% for option in dhcp.options %}
dhcp-option=option:{{ option.tag }},{{ option.value }}
{% endfor %}

{% for nw in network %}
dhcp-range=set:{{ nw.name }},{{ nw.range | ansible.netcommon.ipaddr('network') }},static,{{ nw.range | ansible.netcommon.ipaddr('netmask') }},infinite
{% endfor %}
