---
# tasks file for dhcp
{% for config in configs.onevalue %}
{{ config }}
{% endfor %}
{% for config in configs.twovalue %}
{{ config.key }}={{ config.value }}
{% endfor %}

{% for option in dhcp.options %}
dhcp-option=option:{{ option.tag }},{{ option.value }}
{% endfor %}

{% for range in dhcp.ranges %}
dhcp-range=set:{{ range.tag }},{{ range.startip }},{{ range.mode }},{{ range.netmask }},{{ range.leasetime }}
{% endfor %}
